[Unit]
Description=Precio Real Postgres compose service
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/precio-real-api
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose up -d postgres
ExecStop=/usr/bin/docker compose stop postgres
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
